.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.text-input {
  width: 272px;
  border-radius: 4px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin-right: 8px;
}

.text-input:hover {
  border: 1px solid #000;
}

.text-input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover {
  background-color: #6c8cff;
}