.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  flex: 1 1 calc(33% - 20px);
  border: 1px solid #808080;
  max-width: 360px;
  height: 300px;
  /* 200px */
  list-style: none;
}

.gallery-image {
  width: 100%;
  height: 252px;
  /* 152px */
  object-fit: cover;
}

.gallery-info {
  display: flex;
}

p {
  text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
}
/* HTML: <div class="loader"></div> */
.loader {
  --s: 25px;

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
  margin: 0 auto;
}
.loader:before,
.loader:after {
  content: '';
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at var(--s) var(--_d),
    #bb3535 135deg,
    #833d3d 0 270deg,
    #7d2e2e 0
  );
  animation: l4 1.2s infinite;
}
.loader:before {
  z-index: 1;
  margin-bottom: calc(var(--_d) / -2 - 1px);
}
.loader:after {
  margin-top: calc(var(--_d) / -2 - 1px);
  animation-delay: 0.6s;
}
@keyframes l4 {
  0% {
    transform: translate(0);
  }
  16.67% {
    transform: translate(-10px);
  }
  33.33% {
    transform: translate(10px);
  }
  50%,
  100% {
    transform: translate(0);
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}